body{

	background-color: whitesmoke;
}
a:hover{

	text-decoration: none;
}
.row{
	width: 100%;
	padding-bottom: 10%;
	}
.img-thumbnail{
	width: 200px;
	height: 150px;
}
h1{
text-align: center;
color: black;
font-style: italic;
font-family: helvetica;
}
img{
	margin-top: 30px;
}

.detail h1{
	color:black;
	padding-top: 20px;
}
.mar{
	margin-top: 34px;
	padding: 20px 0px 0px 0px;
	text-align: justify;
	font-weight: bold;

}
figcaption{
	
	font-size:15px;
	color:black; 
	font-weight: bold;
}
.clear{
	clear: both;
}
.detail a{
	color:black;	
}